@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');


/*************************************
*********** BASE STYLES **************
***************************************/
body {
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

#header_logo {
  display: flex;
  justify-content: center;
  margin: 7%;
}

#header_logo img{
  height: 261px;
}

h1 {
  text-align: center;
  color: #1F297A;
}

a {
  color: #1F297A;
  text-decoration: none;
}

a:hover {
  color: #91a54d;
}

.locations-container {
  display: flex;
  justify-content: space-around;
  padding: 5em auto;
}

.location {
  margin: 3em auto;
}
.location h2 {
  text-align: center;
}

.contact-foot {
  position: absolute;
  bottom: 0;
  right: 0;

  padding: 10px 25px 10px 5px;
}
