@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');


/*************************************
*********** BASE STYLES **************
***************************************/
body {
  background-image: linear-gradient(#AFBD7D, #5D6A32);
  /*background-image: url(codeslambackground.jpg);
  background-size: cover;*/
    font-family: 'Montserrat', sans-serif;
}

h1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

a {
  color: #fff;
}

a:hover {
    color: #2C628E;
}

#header_logo {
  display: flex;
  justify-content: center;
}

.narrative {
  margin: 1px 15%;
  padding: 1em;
  color: #fff;
  line-height: 150%;
}

footer {
  text-align: center;
}


/*************************************
******** Project Thumbnails **********
***************************************/

#flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.project-thumbnail {
  flex-grow: 1;
  margin: 15px 5%;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.student-icon {
  height: 150px;
  width: 150px;
}
